@import url("../static/styles.css");

body {
  background-color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  color: white;
}

.hero-video {
  translate: 0% 0%;
}

.black-to-blue {
  z-index: 0;
}

.main__content {
  line-height: 174.507%; /* 1.96319rem */
  letter-spacing: 0.0225rem;
}

.general-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  padding-top: 9rem;
  z-index: 2;
}

.text-block {
  width: 65%;
}

.image-block {
  width: 45%;
  display: flex;
  justify-content: right;
}

.image-block .kiltro_younger_img {
  width: 80%;
  object-fit: cover;
}

.second_block {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.poster_img {
  width: 30%;
  display: flex;
  justify-content: center;
}

.poster_img img {
  width: 120%;
  object-fit: cover;
}

.second_block .text-block {
  text-align: center;
}

.full_width_block {
  width: 100%;
  height: 130vh;
}

.full_width_block .image_and_content {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;

  /* TRYING OUT SOMETHING */
}

.full_width_block .parallax-image {
  width: 100%;
  height: 100%;
  background-image: url("../static/kiltro/kiltro_three.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: transform 0.3s ease-in-out;
}

.kiltro_fanclub_img {
  background-image: url("../static/kiltro/kiltro_fanclub.png") !important;
}

/* .full_width_block .image_and_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
} */

.full_width_block .at-top,
.full_width_block .at-bottom {
  position: relative;
}

/* .image_and_content:hover img {
  transform: scale(1.3);
} */

/* .image_and_content:hover .parallax-image {
  transform: scale(1.3);
} */

.full_width_text {
  width: 70%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second_general_block {
  padding-top: 0;
  /* position: relative; */
}

.left-image .image-block {
  justify-content: left;
}

.second_width_block {
  margin-top: 9rem;
}

.full_width_block .full-width-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  translate: -5% 0%;
}

.second_full_width_content {
  background-color: black;
}

.second_width_block .text-block {
  position: absolute;
  top: 25%;
  left: 60%;
  width: 35%;
}

.second_width_block .center_text {
  position: relative;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.third_general_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sixth_block {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding: 0 5%;
  margin-top: 5rem;
  position: relative;
}

.sixth_block .center_text {
  position: relative;
  top: 15%;
}

.two_image_block {
  position: relative;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin-top: 5%;
}

.image_hover {
  position: relative;
  width: 45%;
  height: 500px;
}

.image_hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.default-img {
  opacity: 1;
  z-index: 1;
}

.hover-img {
  opacity: 0;
  z-index: 2;
}

.image_hover:hover .hover-img {
  opacity: 1;
}

.image_hover:hover .default-img {
  opacity: 0;
}

.image_hover:hover .section__overlay {
  opacity: 1;
  z-index: 3;
}

.two_image_block .section__overlay {
  border-radius: 0.9375rem;
}

.two-image-text {
  width: 80%;
  font-size: 20px;
}

.stand-alone-center-text {
  width: 100%;
  height: 50%;
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.stand-alone-center-text .main__button {
  display: inline-flex;
  margin: 0 1rem;
}

.eigth_general_block {
  margin-top: 5%;
}

.full-width-video-kiltro-dot-com {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: none;
}

.last_block {
  margin-top: 15%;
}

/* .wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
} */

.parallax-wide-blocks {
  transform: translateZ(-10px) scale(2);
}
