<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiltroMusic Home Page</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav></nav>
    <section class="hero">
      <video
        src="../static/kiltro/herovideok-vmake.mp4"
        type="video/mp4"
        autoplay
        muted
        loop
        playsinline
        class="hero-video"
      ></video>

      <div class="text-content">
        <h3 class="averia-libre-regular">we are</h3>
        <h1 class="averia-libre-regular">KILTRO</h1>
      </div>

      <div class="scroller">
        <ul class="scroller__inner">
            <li class="emphasize">KILTRO</li>
            <li>UNDERBELLY</li>
            <li class="emphasize">NEW ALBUM</li>
            <li>OUT NOW</li>
            <li class="emphasize">KILTRO</li>
            <li>UNDERBELLY</li>
            <li class="emphasize">NEW ALBUM</li>
            <li>OUT NOW</li>
            <li class="emphasize">KILTRO</li>
            <li>UNDERBELLY</li>
            <li class="emphasize">NEW ALBUM</li>
            <li>OUT NOW</li>
            
        </ul>
      </div>

    </section>

    <script src="../static/js/main.js"></script>
  </body>
</html>
