<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiltroMusic Home Page</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="dropdown">
        <button class="averia-libre-regular">menu</button>
        <div class="content">
          <a class="averia-libre-regular" href="">music</a>
          <a class="averia-libre-regular" href="">live events</a>
          <a class="averia-libre-regular" href="">our story</a>
          <a class="averia-libre-regular" href="">shop</a>
          <a class="averia-libre-regular" href="">contact</a>
        </div>
      </div>

      <div class="logo__links">
        <div class="logos">
          <a
            class="logo-svg"
            href="https://www.facebook.com/KiltroMusic/"
            target="_blank"
          >
            <img
              src="../static/kiltro/Icons/Rectangle (Colorized).svg"
              class="logo-img"
              alt="Facebook Logo"
            />
          </a>
          <a class="logo-svg" href="https://x.com/KiltroMusic" target="_blank">
            <img
              src="../static/kiltro/Icons/Rectangle (Colorized) (Colorized).svg"
              class="logo-img"
              alt="Twitter Logo"
            />
          </a>
          <a
            class="logo-svg"
            href="https://www.youtube.com/channel/UCf-6irEz-N1twQFUlSGQOuQ"
            target="_blank"
          >
            <img
              src="../static/kiltro/Icons/Rectangle (Colorized)-1.svg"
              class="logo-img"
              alt="Spotify Logo"
            />
          </a>
          <a
            class="logo-svg"
            href="https://open.spotify.com/artist/27CC3tpq7WQR25M03jKTZm"
            target="_blank"
          >
            <img
              src="../static/kiltro/Icons/Rectangle (Colorized)-2.svg"
              class="logo-img"
              alt="Youtube Logo"
            />
          </a>
          <a
            class="logo-svg"
            href="https://www.instagram.com/kiltromusic/"
            target="_blank"
          >
            <img
              src="../static/kiltro/Icons/Rectangle (Colorized)-3.svg"
              class="logo-img"
              alt="Instagram Logo"
            />
          </a>
        </div>
      </div>
    </nav>
    <section class="hero">
      <video
        src="../static/kiltro/herovideok-vmake.mp4"
        type="video/mp4"
        muted
        loop
        playsinline
        class="hero-video"
      ></video>

      <div class="text-content">
        <h3 class="averia-libre-regular">we are</h3>
        <h1 class="averia-libre-regular">KILTRO</h1>
      </div>

      <div class="scroller">
        <ul class="scroller__inner">
          <li class="emphasize">KILTRO</li>
          <li>UNDERBELLY</li>
          <li class="emphasize">NEW ALBUM</li>
          <li>OUT NOW</li>
          <li class="emphasize">KILTRO</li>
          <li>UNDERBELLY</li>
          <li class="emphasize">NEW ALBUM</li>
          <li>OUT NOW</li>
          <li class="emphasize">KILTRO</li>
          <li>UNDERBELLY</li>
          <li class="emphasize">NEW ALBUM</li>
          <li>OUT NOW</li>
        </ul>
      </div>
      <div class="fade-down"></div>
    </section>

    <section class="main__content">
      <div class="fade-up"></div>
      <div class="live__dates">
        <div class="images">
          <img
            src="../static/kiltro/kiltro_guitar.jpg"
            alt="Kiltro Guitar Image"
            class="image_shadow live_dates_images"
            id="guitar_image"
          />
          <img
            src="../static/kiltro/kiltro_drum.jpg"
            alt="Kiltro Drummer Image"
            class="image_shadow live_dates_images"
            id="drummer_image"
          />
          <img
            src="../static/kiltro/kiltro_rainbow.jpg"
            alt="Kiltro Rainbow Image"
            class="image_shadow live_dates_images"
            id="rainbow_image"
          />
        </div>

        <div class="content">
          <h3 class="averia-libre-regular">Live Dates</h3>
          <div class="event__dates">
            <div class="date">
              <p class="emphasize bold">Dec 30, 2025</p>
              <p>Gothic Theatre w/ The Budos Band</p>
            </div>
            <p>Englewood, CO</p>
            <button class="main__button">Buy Tickets</button>
          </div>
          <div class="event__dates">
            <div class="date">
              <p class="emphasize bold">Dec 31, 2025</p>
              <p>Gothic Theatre w/ The Budos Band</p>
            </div>
            <p>Englewood, CO</p>
            <button class="main__button">Buy Tickets</button>
          </div>
        </div>
      </div>
      <div class="get__notified">
        <p class="center-text">
          Get notified when new events are announced in your area
        </p>
        <a
          href="https://go.seated.com/notifications/welcome/c81ea22e-302c-44f8-b144-04cf26b99127"
          target="_blank"
          ><button class="main__button">Follow Kiltro</button></a
        >
      </div>
      
      <div class="music__section">
        <video
          src="../static/kiltro/_- Kiltro (720p, h264).mp4"
          type="video/mp4"
          muted
          loop
          playsinline
          class="landing__music"
        ></video>
        <div class="music__overlay">
          <h3 class="music_title averia-libre-regular">Our Music</h3>
        </div>
      </div>
    </section>

    <script src="../static/js/main.js"></script>
  </body>
</html>
