<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Events</title>
    <link rel="stylesheet" href="../static/liveevents.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <section class="hero">
        <div class="background-parallax">
          <img
            src="../static/kiltro/Kiltro_Site.webp"
            alt="Kiltro Full Band"
            class="hero-image"
          />
        </div>

        <div class="text-content header-text-parallax">
          <h3 class="averia-libre-regular">live</h3>
          <h1 class="averia-libre-regular">EVENTS</h1>
        </div>
      </section>

      <section class="main__content">
        <div class="black-to-blue at-top"></div>
        <div class="event_image_container">
          <div class="image_scroller"></div>
          <div class="live_events_container"></div>

          <div class="image_scroller"></div>
        </div>
      </section>
    </div>

    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
