<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Events</title>
    <link rel="stylesheet" href="../static/liveevents.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <section class="hero">
        <div class="background-parallax">
          <img
            src="../static/kiltro/Kiltro_Site.webp"
            alt="Kiltro Full Band"
            class="hero-image"
          />
        </div>

        <div class="text-content header-text-parallax">
          <h3 class="averia-libre-regular">live</h3>
          <h1 class="averia-libre-regular">EVENTS</h1>
        </div>
      </section>

      <section class="main__content">
        <div class="black-to-blue at-top"></div>
        <div class="event_image_container">
          <div class="scroller_image_container">
            <div class="scroller image_scroller">
              <ul class="scroller__inner">
                <li class="image_item">
                  <img src="../static/kiltro/concert_1.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_2.jpg" class="right" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_3.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_4.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_5.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_6.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_7.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_8.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_9.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_10.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_11.jpg" />
                </li>
              </ul>
            </div>

            <div class="scroller image_scroller">
              <ul class="scroller__inner">
                <li class="image_item right">
                  <img src="../static/kiltro/concert_11.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_10.jpg" class="right" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_9.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_8.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_7.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_6.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_5.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_4.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_3.jpg" />
                </li>
                <li class="image_item">
                  <img src="../static/kiltro/concert_2.jpg" />
                </li>
                <li class="image_item right">
                  <img src="../static/kiltro/concert_1.jpg" />
                </li>
              </ul>
            </div>
          </div>
          <div class="live_events_container" id="live_events_container">
            <div class="event__dates">
              <div class="date">
                <p class="emphasize bold">Dec 30, 2025</p>
                <p>Gothic Theatre w/ The Budos Band</p>
              </div>
              <p>Englewood, CO</p>
              <button class="main__button">Buy Tickets</button>
            </div>
            <div class="event__dates">
              <div class="date">
                <p class="emphasize bold">Dec 31, 2025</p>
                <p>Gothic Theatre w/ The Budos Band</p>
              </div>
              <p>Englewood, CO</p>
              <button class="main__button">Buy Tickets</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script type="module" src="../static/js/main.js"></script>
    <script type="module" src="../static/js/liveEvents.js"></script>
  </body>
</html>
