<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music</title>
    <link rel="stylesheet" href="../static/musicstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="hero">
      <div class="hero__content">
        <div class="left__side">
          <img
            src="../static/kiltro/Kiltro+New+Album+Out+Now.webp"
            class="new_album_image"
            alt="Kiltro New Album Out Now"
          />

          <button class="main__button">Stream & Buy</button>
        </div>
        <div class="right__side">
          <img src="../static/kiltro/Underbelly_Clear_Store_740x-Photoroom.png" alt="Underbelly Album Cover" />
        </div>
      </div>
      <div class="fade-down"></div>
    </section>

    <script type="module" src="../static/js/musicjs.js"></script>
  </body>
</html>
