<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music</title>
    <link rel="stylesheet" href="../static/musicstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <section class="hero">
        <div class="blue-to-black at-bottom hero-content-parallax"></div>
        <div class="hero__content hero-content-parallax">
          <div class="left__side__music__content">
            <img
              src="../static/kiltro/Kiltro+New+Album+Out+Now.webp"
              class="new_album_image"
              alt="Kiltro New Album Out Now"
            />

            <a href="https://onerpm.link/UNDERBELLY" target="_blank"
              ><button class="main__button">Stream & Buy</button></a
            >
          </div>
          <div class="right__side__music__content">
            <img
              src="../static/kiltro/underbelly_new.png"
              alt="Underbelly Album Cover"
              class="underbelly__album__image"
            />
          </div>
        </div>
      </section>

      <!-- <div class="album__wrapper"> -->
      <section class="albums__container">
        <div class="black-to-blue at-top stick"></div>

        <div class="album__container first-album">
          <div class="album__image__container">
            <img
              class="album_image"
              src="../static/kiltro/ofelia_album_image.png"
            />
          </div>
          <div class="stream__btn__container">
            <a href="https://onerpm.link/113559312350" target="_blank"
              ><button class="main__button stream_btn">Stream</button></a
            >
          </div>
        </div>

        <div class="second__album__wrapper">
          <div class="album__container second-album">
            <div class="album__image__container">
              <img
                class="album_image"
                src="../static/kiltro/cratures_album_image.png"
              />
            </div>
            <div class="stream__btn__container">
              <a href="https://onerpm.link/421623151156" target="_blank"
                ><button class="main__button stream_btn">Stream</button></a
              >
            </div>
          </div>
        </div>

        
      </section>

      <section class="footer">
          <p class="averia-libre-regular">© 2025 KILTRO</p>
        </section>
      <!-- </div> -->
    </div>

    <script type="module" src="../static/js/musicjs.js"></script>
  </body>
</html>
