<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Story</title>
    <link rel="stylesheet" href="../static/ourstory.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <section class="hero">
        <div class="background-parallax">
          <video
            src="../static/kiltro/on a night like this.mp4"
            type="video/mp4"
            muted
            autoplay
            loop
            playsinline
            class="hero-video"
          ></video>
        </div>

        <div class="text-content header-text-parallax">
          <h3 class="averia-libre-regular">our</h3>
          <h1 class="averia-libre-regular">STORY</h1>
        </div>
      </section>

      <section class="main__content">
        <div class="black-to-blue at-top"></div>
        <div class="general-block">
          <div class="text-block">
            <p>
              Years ago, Chilean-American singer/songwriter Chris Bowers
              Castillo moved to the port city of Valparaíso and became a walking
              tour guide. <br /><br />

              “I would dress up as Wally and give tours to families and kids,”
              he remembers with a laugh. “It was great, because I got to know
              the city incredibly well. I'd walk for hours, then spend the rest
              of the day partying and drinking, probably way too much. But I
              also wrote lots of new songs.”
            </p>
          </div>
          <div class="image-block">
            <img
              src="../static/kiltro/kiltro_younger.jpg"
              alt="Kiltro Lead Singer Younger"
              class="border_and_shadow kiltro_younger_img"
            />
          </div>
        </div>

        <div class="second_block">
          <div class="poster_img">
            <img
              src="../static/kiltro/red_poster_shadow.png"
              alt="Kiltro Red Poster"
            />
          </div>
          <div class="text-block">
            <p>
              Back in Denver, Chris looked for a moniker that reflected the
              evocative and subtly rebellious musical concepts percolating in
              his head, and settled on kiltro - a word used in Chile for stray
              dogs or mutts.
            </p>
          </div>
          <div class="poster_img">
            <img
              src="../static/kiltro/blue_poster_shadow.png"
              alt="Kiltro Blue Poster"
            />
          </div>
        </div>

        <div class="full_width_block">
          <div class="blue-to-black at-top"></div>
          <div class="image_and_content">
            <img
              src="../static/kiltro/kiltro_three.jpg"
              alt="Kiltro Band Full Width Image"
            />

            <div class="section__overlay">
              <p>
                He then teamed up with bassist Will Parkhill and drummer Michael
                Devincenzi, later inviting Fez García to join the band as an
                additional percussionist on Kiltro's live gigs.
              </p>
            </div>
          </div>
          <div class="black-to-blue at-bottom"></div>
        </div>

        <div class="general-block third_block">
          <div class="image-block">
            <img
              src="../static/kiltro/kiltro_concert_three.jpg"
              alt="Kiltro Concert Image"
              class="border_and_shadow kiltro_younger_img"
            />
          </div>
          <div class="text-block">
            <p>
              “I wanted to do a project mixing different styles and aesthetics,”
              he says. “Valparaíso is my favorite city in the world and will
              always influence my music. There were street dogs everywhere, and
              I'm a mutt myself.” <br /><br />
              <br /><br />

              Titled Underbelly, Kiltro's sophomore album crystallizes those
              dreams and experiences into a post-rock manifesto of dazzling
              beauty. Its songs combine touches of shoegaze, ambient and
              neo-psychedelia with the soulful transcendence of South American
              folk - the purity of stringed instruments, supple syncopated
              percussion and elusive melodies that define the works of Latin
              American legends such as Violeta Parra, Víctor Jara and Atahualpa
              Yupanqui.
            </p>
          </div>
        </div>

        <div class="full_width_block second_width_block">
          <div class="blue-to-black at-top"></div>
          <div class="image_and_content second_full_width_content">
            <video
              src="../static/kiltro/softlyKiltro.mp4"
              type="video/mp4"
              muted
              autoplay
              loop
              playsinline
              class="full-width-video"
            ></video>

            <div class="text-block">
              <p>
                From the propulsive, chant-like groove of “Guanaco” to the
                art-pop panache of “All the Time in the World,” Underbelly is
                the kind of record that invites you to quiet down and listen,
                savoring every single detail. The album reaches an emotional
                pinnacle during its second half, when the majestic lament of
                “Softy” - seeped in exquisite cushions of reverb - segues into
                the hypnotic reverie of “Kerosene.”
              </p>
            </div>
          </div>
          <div class="black-to-blue at-bottom"></div>
          <p class="center_text">
            It also signals a new chapter in the fusion of Latin roots with
            mainstream rock, anchoring its sonic quest on a rare commodity:
            inspired songwriting.
          </p>
        </div>
      </section>
    </div>

    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
