<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Story</title>
    <link rel="icon" type="image/x-icon" href="/static/kiltro/kiltro_favicon.png">
    <link rel="stylesheet" href="../static/ourstory.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <section class="hero">
        <div class="background-parallax">
          <video
            src="../static/kiltro/on a night like this.mp4"
            type="video/mp4"
            muted
            autoplay
            loop
            playsinline
            class="hero-video"
          ></video>
        </div>

        <div class="text-content header-text-parallax">
          <h3 class="averia-libre-regular">our</h3>
          <h1 class="averia-libre-regular">STORY</h1>
        </div>
      </section>

      <section class="main__content">
        <div class="black-to-blue at-top"></div>
        <div class="general-block reveal_section section--hidden">
          <div class="text-block">
            <p>
              Years ago, Chilean-American singer/songwriter Chris Bowers
              Castillo moved to the port city of Valparaíso and became a walking
              tour guide. <br /><br />

              “I would dress up as Wally and give tours to families and kids,”
              he remembers with a laugh. “It was great, because I got to know
              the city incredibly well. I'd walk for hours, then spend the rest
              of the day partying and drinking, probably way too much. But I
              also wrote lots of new songs.”
            </p>
          </div>
          <div class="image-block">
            <img
              src="../static/kiltro/kiltro_younger.jpg"
              alt="Kiltro Lead Singer Younger"
              class="border_and_shadow kiltro_younger_img"
            />
          </div>
        </div>

        <div class="second_block">
          <div class="poster_img">
            <img
              src="../static/kiltro/red_poster_shadow.png"
              alt="Kiltro Red Poster"
            />
          </div>
          <div class="text-block">
            <p>
              Back in Denver, Chris looked for a moniker that reflected the
              evocative and subtly rebellious musical concepts percolating in
              his head, and settled on kiltro - a word used in Chile for stray
              dogs or mutts.
            </p>
          </div>
          <div class="poster_img">
            <img
              src="../static/kiltro/blue_poster_shadow.png"
              alt="Kiltro Blue Poster"
            />
          </div>
        </div>

        <div class="full_width_block">
          <div class="blue-to-black at-top"></div>

          <div class="image_and_content">
            <!-- <img
              src="../static/kiltro/kiltro_three.jpg"
              alt="Kiltro Band Full Width Image"
            /> -->

            <div class="parallax-image"></div>

            <div class="section__overlay mobile_hover">
              <p class="full_width_text">
                He then teamed up with bassist Will Parkhill and drummer Michael
                Devincenzi, later inviting Fez García to join the band as an
                additional percussionist on Kiltro's live gigs.
              </p>
            </div>
          </div>

          <div class="black-to-blue at-bottom"></div>
        </div>

        <div
          class="general-block second_general_block left-image reveal_section section--hidden"
        >
          <div class="image-block">
            <img
              src="../static/kiltro/kiltro_concert.jpg"
              alt="Kiltro Concert Image"
              class="border_and_shadow kiltro_younger_img"
            />
          </div>
          <div class="text-block">
            <p>
              “I wanted to do a project mixing different styles and aesthetics,”
              he says. “Valparaíso is my favorite city in the world and will
              always influence my music. There were street dogs everywhere, and
              I'm a mutt myself.” <br /><br />
              <br /><br />

              Titled Underbelly, Kiltro's sophomore album crystallizes those
              dreams and experiences into a post-rock manifesto of dazzling
              beauty. Its songs combine touches of shoegaze, ambient and
              neo-psychedelia with the soulful transcendence of South American
              folk - the purity of stringed instruments, supple syncopated
              percussion and elusive melodies that define the works of Latin
              American legends such as Violeta Parra, Víctor Jara and Atahualpa
              Yupanqui.
            </p>
          </div>
        </div>

        <div class="full_width_block second_width_block">
          <div class="blue-to-black at-top"></div>
          <div class="image_and_content second_full_width_content">
            <video
              src="../static/kiltro/softlyKiltro.mp4"
              type="video/mp4"
              muted
              autoplay
              loop
              playsinline
              class="full-width-video"
            ></video>

            <div class="text-block scrolling_text">
              <p>
                From the propulsive, chant-like groove of “Guanaco” to the
                art-pop panache of “All the Time in the World,” Underbelly is
                the kind of record that invites you to quiet down and listen,
                savoring every single detail. The album reaches an emotional
                pinnacle during its second half, when the majestic lament of
                “Softy” - seeped in exquisite cushions of reverb - segues into
                the hypnotic reverie of “Kerosene.”
              </p>
            </div>
          </div>
          <div class="black-to-blue at-bottom"></div>
          <p class="center_text">
            It also signals a new chapter in the fusion of Latin roots with
            mainstream rock, anchoring its sonic quest on a rare commodity:
            inspired songwriting.
          </p>
        </div>

        <div class="sixth_block">
          <div class="third_general_block">
            <div class="text-block">
              <p>
                “So much of this album is defined by the conditions that made
                it,” says Chris. “Our debut - 2019's Creatures of Habit - has a
                social, almost communal feel to it, because we played it live
                time after time before recording. In a way, the songs were
                troubleshooted in the presence of an audience, then honed in the
                studio. Underbelly, on the other hand, was made in quarantine.
                It was just us obsessing in the studio, and we ended up
                following whatever thread seemed most interesting at the time,
                which made for an album that is more experimental and creative.”
              </p>
            </div>
            <div class="image-block">
              <img
                src="../static/kiltro/kiltro_drumsticks.jpg"
                alt="Kiltro Drummer Shot from the Back"
                class="border_and_shadow kiltro_younger_img"
              />
            </div>
          </div>
          <p class="center_text">
            “We're trying to make sense of the process as we experience it,”
            adds Will, who returned to Denver and became part of Kiltro after a
            few years living abroad. “The way we make music, we're definitely
            not interested in dropping singles. Something that Chris and I have
            in common is our interest in capturing ambient textures that evoke a
            sense of place. When we first played music together - years before
            Kiltro - we got microphones and tried to record the sound of water
            running down a bathtub. It didn't work out then, but we revisited
            the same concept on this album.”
          </p>
        </div>

        <div class="two_image_block">
          <div class="image_hover">
            <img
              src="../static/kiltro/kiltro_guitar_orange.jpg"
              alt="Kiltro Lead Guitarist in Orange Light"
              class="border_and_shadow default-img"
            />
            <img
              src="../static/kiltro/kiltro_covid.png"
              alt="Kiltro Lead Guitarist in Orange Light"
              class="border_and_shadow hover-img"
            />

            <div class="section__overlay mobile_hover">
              <p class="two-image-text">
                Quarantine isolation allowed Kiltro to obsess over every single
                loop and melodic turn. Now that the band is ready to tour again,
                presenting the songs in a live setting poses a beautiful
                challenge.
              </p>
            </div>
          </div>

          <div class="image_hover">
            <img
              src="../static/kiltro/kiltro_drummer_1.jpg"
              alt="Kiltro's First Drummer"
              class="border_and_shadow default-img"
            />
            <img
              src="../static/kiltro/kiltro_drummer_2.jpg"
              alt="Kiltro's Second Drummer"
              class="border_and_shadow hover-img"
            />

            <div class="section__overlay">
              <p class="two-image-text">
                “We were mixing the album when the question came up: how the
                hell are we going to do this live?,” says Chris. “Live shows are
                a real important component of what we do - in a way, it's the
                very reason of why we make music. There will be four of us
                onstage, and I do a lot of live looping. We have two drummers,
                which helps a lot when you consider the percussive element of
                this album. I've learned that we don't have to favor a
                maximalist approach. People connect with melody and the concept.
                As long as the harmonic elements carry the emotional message
                across, you can take the songs into many possible directions.”
              </p>
            </div>
          </div>
        </div>

        <div class="stand-alone-center-text">
          <p>
            For now, the release of
            <a
              href="https://onerpm.link/UNDERBELLY"
              class="main__button"
              target="_blank"
              >Underbelly</a
            >
            marks a bold step forward in Kiltro's extraordinary musical journey.
          </p>
        </div>

        <div
          class="general-block eigth_general_block left-image reveal_section section--hidden"
        >
          <div class="image-block">
            <img
              src="../static/kiltro/kiltro_concert_three.jpg"
              alt="Kiltro Concert Image"
              class="border_and_shadow kiltro_younger_img"
            />
          </div>
          <div class="text-block">
            <p>
              “When we first started the band, I was playing folk songs -
              focusing on my interior spaces and finding catharsis through
              melody,” says Chris. “I've always been attracted to music that is
              melancholy and personal. Then we added the rhythmic component, and
              I realized that having a bit of noise and chaos can add emotional
              depth. Underbelly reflects everything that happens inside your
              soul when the world stops on its tracks.”
            </p>
          </div>
        </div>

        <div class="full_width_block last_block">
          <div class="blue-to-black at-top"></div>
          <div class="image_and_content">
            <!-- <video
              src="../static/kiltro/kiltro.com.mp4"
              type="video/mp4"
              muted
              autoplay
              loop
              playsinline
              class="full-width-video-kiltro-dot-com"
            ></video> -->

            <div class="parallax-image kiltro_fanclub_img"></div>

            <div class="section__overlay mobile_hover">
              <p class="full_width_text">
                “We tried a lot of new things on this record,” agrees Will. “We
                were living through unprecedented times and coming to terms with
                all of it. The album is a reflection of that. At the end of the
                day, we wanted to create the kind of music that we didn't hear
                anywhere else.”
              </p>
            </div>
          </div>
          <div class="black-to-blue at-bottom"></div>
        </div>

        <section class="footer">
          <p class="averia-libre-regular">© 2025 KILTRO | created by <a class="credit" href="https://www.linkedin.com/in/sofia-borodaenko/" target="_blank">Sofia Borodaenko</a></p>
        </section>
      </section>
    </div>

    <script type="module" src="../static/js/main.js"></script>
    <script type="module" src="../static/js/ourStory.js"></script>
  </body>
</html>
