<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Story</title>
    <link rel="stylesheet" href="../static/ourstory.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <section class="hero">
        <div class="background-parallax">
          <video
            src="../static/kiltro/on a night like this.mp4"
            type="video/mp4"
            muted
            autoplay
            loop
            playsinline
            class="hero-video"
          ></video>
        </div>

        <div class="text-content header-text-parallax">
          <h3 class="averia-libre-regular">our</h3>
          <h1 class="averia-libre-regular">STORY</h1>
        </div>
      </section>

      <section class="main__content">
        <div class="black-to-blue at-top"></div>
        <div class="first-block">
          <div class="text-block">
            <p>
              Years ago, Chilean-American singer/songwriter Chris Bowers
              Castillo moved to the port city of Valparaíso and became a walking
              tour guide. “I would dress up as Wally and give tours to families
              and kids,” he remembers with a laugh. “It was great, because I got
              to know the city incredibly well. I'd walk for hours, then spend
              the rest of the day partying and drinking, probably way too much.
              But I also wrote lots of new songs.”
            </p>
          </div>
          <div class="image-block"></div>
        </div>
      </section>
    </div>

    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
